

<!DOCTYPE html>
<html lang="en-US">
<head>

<link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<script src="/global.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div class="header">
<h1>Slide Show</h1>
<h2>Basic Design Priciples</h2>
    <a href="#" id="slide_show">This is the Slideshow</a><br>
    <button href="#" id="last_slide">Back</button>
    <button href="#" id="next_slide">Next</button>
</div>

<div class = "slidebox">
  <div class="sidebar">
      <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>     
  </div>

<div class="slideshow">
    <h1 id="result_title"></h1>
    <p id="result_body"></p>
</div>

</div>

</body>
</html>