


<script src="/global.js" type="text/javascript" charset="utf-8"></script>
<h1>Slide</h1>
<p>The time is <strong><%= Time.now %></strong>.</p>

<hr>

<p>Use the resource routes pattern to get information about students.</p>

<!-- <a href="#" id="slide_show2">This is the Slideshow 2</a><br> -->
<a href="#" id="slide_show">This is the Slideshow</a><br>

 </div>
    <button href="#" id="last_slide">Back</button>
    <button href="#" id="next_slide">Next</button>
</div>

<hr>

<div id="results">
    <div id="result_title">
    </div>
    <div id="result_body">
    </div>
</div>

    