<script src="/global.js" type="text/javascript" charset="utf-8"></script>


<!-- <a href="#" id="slide_show2">This is the Slideshow 2</a><br> -->
<a href="#" id="slide_show">This is the Slideshow</a><br>

 </div>
    <button href="#" id="last_slide">Back</button>
    <button href="#" id="next_slide">Next</button>
</div>

<hr>

<div id="results">
    <h1><div id="result_title">
    </div></h1>
    <p><div id="result_body">
    </div></p>
</div>

    