<div>
    <h1>Log in</h1>
    <form action="/login_success" method="post">
    
        <label for="name">User Name:</lable>
        <input type="text" name="user_name" />
 
        <label for="password">Password:</label> 
        <input type="password" name="password"/>
        <br>
        <input class="button" type="Submit" value="Log In" /> 
        <br>
        <p> New user? <a href="/newuser">Click here to sign up.</a> </p>
    </form>
</div>