<h1>New User</h1>
<form action="/newuser_confirm" method="post">
    
    <label for="user_name">Enter a User Name:</lable>
    <input type="text" required name="user_name" />
    <br>
    <label for="password">Password:</label> 
    <input type="password" required name="password"/>
    <br>
    <label for="email">Email address:</label>
    <input type="text" required name="email"/>
    <br>
    <input class="button" type="Submit" value="Click here to join the cool kids"/> 
    <br>
    
</form>